body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #141414; 
    color: white; 
}

#Titulo {
    color: #e50914; /* Un toque de rojo tipo Netflix para resaltar */
    font-size: 2.5rem;
}

/* balance y formulario */
section {
    margin-bottom: 30px;
    padding: 20px;
}

/* tarjeta donde se ven los movimientos */
.lista-section {
    background-color: #1f1f1f;
    max-width: 450px;
    margin: 20px auto; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
}

/* Estilo para los inputs y select para que no desentonen */
input, select {
    padding: 8px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid #333;
    background-color: #2b2b2b;
    color: white;
}

/* boton Agregar */
#Agregar {
    background-color: #e50914; /* Rojo llamativo */
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

#Agregar:hover {
    background-color: #b20710; /* Se oscurece al pasar el mouse */
}

/* lista movimientos */
ul {
  padding: 0;         
  list-style-type: none;
}



/* cada mocimiento */
li {
    background-color: #2b2b2b;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between; 
}

.btn-eliminar {
    background-color: transparent;
    border: none;
    color: #e50914;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.3s;
}

.btn-editar {
    background-color: transparent;
    border: none;
    color: #ebdc0ece;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.3s;
}