body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: LightGray;
    text-align: center;
    margin: 20px;
}


#Titulo {

    color: Tomato;

}

ul {
  border: 2px solid #333; 
  padding: 15px;         
  border-radius: 5px;   
}